.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.cells {
  border: black solid 1px;
  border-collapse: collapse;
}

.cells td {
  padding: 10px;
}

.tableContainer {
  width: 100%;
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.table tr:hover td {
  background-color: #ffedcc;
}

.table th {
  background-color: #eeddcc ;
}

.noResult {
  width: 100%;
  text-align: center;
  font-size: xx-large;
}

.filter_input {
  width: 40%;
  font-size: large;
  margin: 20px;
}

.tableSelector {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: center;
}

.highlight {
  background-color: violet;
}

.columnSelector {
  background: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.columnSelector[select^="true"] {
  background-color: #ccbbaa;
}

.columnSelector span {
  flex: 1;
  padding: 10px;
  pointer-events: none;
}

.sortTriangle {
  flex: 0;
}

.pagination {
  list-style-type: none;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  cursor: pointer;
}

.pagination li.active {
  background-color: #4CAF50;
  color: white;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
}

.pageSizeSelector {
  margin: 10px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  font: inherit;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
